{% extends "base.html" %}
{% block title %}
    Все заметки
{% endblock %}
{% block content %}

<div x-data="getNotes()">
    <form id="note-form">
        {% csrf_token %}
    </form>
    <div class="container pt-5 row">
        <div class="input-group px-5 col-md-10 offset-md-0">
            <a href="{% url 'create' %}"><button class="btn btn-primary"><i class="uil uil-notes"></i> Заметки на карте</button></a>
        </div>
    </div>
    {% if notes %}
    <div class="container pt-5">
    <div class="card-group p-5">
        <div class="row my-3">
            <template x-for="note in notes">
                <div class="col my-3">
                    <div class="card h-100 bg-light mb-5" style="width: 18rem;">
                        <div class="card-header">
                            <p x-text="note.title" class="card-text pt-3 pb-3"></p>
                        </div>
                        <div class="card-body">
                            <p x-text="note.text" class="card-text pt-3 pb-3"></p>
                        </div>
                        <div class="card-footer">
                            <button @click="removeNote(note.id)" class="btn btn-danger w-100"><i class="uil uil-trash-alt"></i> Удалить</button>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>


    {% else %}
    <div class="text-center">
        <p class="card-text pt-3 pb-3 text-center">Вы еще не добавили ни одной заметки</p>
    </div>
    {% endif %}
</div>


<script>

const csrftoken = document.querySelector('#note-form > input').value;

const getNotes = () => {
    return {
        newNote: '',
        notes: [
            {% for note in notes %}
                { 'title': '{{ note.title }}', 'text': '{{ note.text }}', 'id': {{ note.id}}},
            {% endfor %}
        ]
    }
};


const removeNote = async noteId => {
    try {
    const res = await axios.delete('/api/notes/' + noteId,
        { headers: { 'X-CSRFToken': csrftoken }}
        );
    location.reload();
      } catch (e) {
        console.error(e);
      }
};


</script>

{% endblock %}